@import "mocha.css";

* {
    color: @subtext1;
    font-family: 'JetBrainsMono Nerd Font', Bookerly, Roboto;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

#workspaces{
    background-color: @base;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 10px;    
    background: transparent;
    border: none;
    box-shadow: none;
}

#workspaces button:hover {
    background-color: transparent;
    background-color: @mantle; 
}

#workspaces button.focused, #workspaces button.active {
    background-color: @mantle;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock,
#battery,
#network,
#pulseaudio,
#power-profiles-daemon,
#mpris,
#custom-power {
    background-color: @base;
    border-radius: 10px;
    padding: 0 15px;
}

#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#power-profiles-daemon:hover,
#mpris:hover,
#custom-power:hover {
    background-color: @mantle;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
